<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Snippet - BBBootstrap</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" rel="stylesheet">

    <link rel="stylesheet" href="css/chat2.css">
    <link rel="stylesheet" href="css/elements.css">


    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript"></script>


</head>
<body oncontextmenu="return false" class="snippet-body" style="overflow: hidden;">


<div class="page-content page-container" id="page-content">
    <div id="v-app">


        <div v-if="isMobile()" style="position: fixed; top: 15px; right: 15px; z-index: 9999;">
            <a v-bind:href="from_url">
                <img src="icons/close.svg" style="width: 20px; height: 20px;"/>
            </a>
        </div>


        <div class="row container d-flex justify-content-center app-container"
             style="margin-right: 0;margin-left: 0;padding-right: 0;padding-left: 0;">


            <div class="col-md-6"
                 style="margin-right: 0;margin-left: 0;padding-right: 0;padding-left: 0;">


                <div class="card card-bordered" v-bind:style="styleObject" id="cb_el">

                    <input v-if="userEmail !== ''" type="checkbox" id="hmt" v-model="burger_check"
                           class="hidden-menu-ticker">
                    <label class="btn-menu" for="hmt" @click="checkEmailSet">
                        <img src="icons/Union.svg"/>


                    </label>

                    <ul class="hidden-menu hidden-menu-text">
                        <h6 class="hidden-menu-header">{{ texts['Выберите действие'] }}</h6>

                        <div @click="(e)=>{ sendCmd('/ZGC SHOP'); }"
                             class="row btn btn-lg hidden-menu-btn drop-down-btn">

                            <img class="centered-img" src="icons/shopping-cart%201.svg">
                            <span class="pull-left menu-cmd">{{ texts['ZGC SHOP'] }}</span>

                        </div>

                        <div @click="(e)=>{ sendCmd('/For Turkmenistan'); }"
                             class="row btn btn-lg hidden-menu-btn drop-down-btn">

                            <img class="centered-img" src="icons/turkmenistan%201.svg">
                            <span class="pull-left menu-cmd">{{ texts['Для Туркменистана'] }}</span>

                        </div>


                        <div @click="(e)=>{ sendCmd('/Trial period'); }"
                             class="row btn btn-lg hidden-menu-btn drop-down-btn">

                            <img class="centered-img" src="icons/key%201.svg">
                            <span class="pull-left menu-cmd">{{ texts['Пробный период'] }}</span>

                        </div>

                        <div @click="(e)=>{ sendCmd('/Contact support'); }"
                             class="row btn btn-lg hidden-menu-btn drop-down-btn">

                            <img class="centered-img" src="icons/customer-service%201.svg">
                            <span class="pull-left menu-cmd">{{ texts['Связаться с поддержкой'] }}</span>

                        </div>
                        <div @click="(e)=>{ sendCmd('/Payment'); }"
                             class="row btn btn-lg hidden-menu-btn drop-down-btn">

                            <img class="centered-img" src="icons/Vector.svg">
                            <span class="pull-left menu-cmd">{{ texts['Оплата'] }}</span>

                        </div>


                        <div @click="(e)=>{ sendCmd('/Learn more'); }"
                             class="row btn btn-lg hidden-menu-btn drop-down-btn">

                            <img class="centered-img" src="icons/info-button%201.svg">
                            <span class="pull-left menu-cmd">{{ texts['Узнать больше'] }}</span>

                        </div>

                        <div @click="(e)=>{ sendCmd('/Partnership'); }"
                             class="row btn btn-lg hidden-menu-btn drop-down-btn">

                            <img class="centered-img" src="icons/hand-shake%201.svg">
                            <span class="pull-left menu-cmd">{{ texts['Сотрудничество'] }}</span>

                        </div>


                        <div class="hidden-menu-bottom">
                            <hr/>
                            <div>
                                {{ texts['Поддержка в чате отвечает в будние дни с 17:00 до 22:00 по Китаю'] }}
                            </div>

                        </div>

                    </ul>


                    <div class="card-header">

                        <h4 class="card-title"><strong>{{ texts['Support'] }}</strong></h4>


                    </div>


                    <div class="ps-container ps-theme-default ps-active-y"
                         id="chat-content"
                         @click="(e)=>{ burger_check=false; }"
                         style="height:400px !important;">


                        <div v-if="messages.length === 0" class="helper-msg">
                            {{ texts['В левом верхнем углу и в правом нижнем углу есть меню со списком команд.'] }}
                        </div>


                        <div v-for="(message, index) in messages" :key="index">

                            <div v-if="message.from==='user'" class="media media-chat media-chat-reverse">
                                <div class="media-body">
                                    <p>{{ message.message }}</p>
                                </div>
                            </div>

                            <div v-if="message.from==='bot'" class="media media-chat">
                                <div class="media-body chat-msg">
                                    <p>
                                        {{ message.message }}
                                    </p>
                                </div>
                            </div>

                            <div v-if="message.from === 'bot_link'" class="incoming_msg">
                                <div class="incoming_msg_img"></div>
                                <div class="received_msg">
                                    <p class="bot-link">
                                        {{ message.message }}
                                        <br/>
                                        <a v-bind:href="message.cmd" target="_blank">{{ message.cmd }}</a>

                                    </p>
                                </div>
                            </div>

                            <div v-if="message.from==='bot_cmd'" class="media media-chat media-chat-btn">
                                <div class="media-body">
                                    <button class="btn btn-primary bot-cmd"
                                            @click="(e)=>{ sendCmd(message.cmd); }">{{ message.message }}</button>
                                </div>
                            </div>


                            <div v-if="message.from==='user_img'" class="media media-chat media-chat-reverse">
                                <div class="media-body">
                                    <p>
                                        <img v-bind:src="message.url" class="chat-img"/>
                                    </p>
                                </div>
                            </div>


                        </div>


                        <div id="bottom_msg">.</div>


                        <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">
                            <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                        </div>
                        <div class="ps-scrollbar-y-rail" style="top: 0px; height: 0px; right: 2px;">
                            <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 2px;"></div>
                        </div>


                        <div v-if="userEmail === ''" class="start-block" id="start-block">
                            <div style="position: relative;padding: 6px 8px;margin: 4px 0;background-color: #FF7C74;border-radius: 15px 15px 15px 15px;color: #2C2C2C;font-weight: 350;font-family: Roboto, sans-serif;margin-right: 15px;margin-left: 5px;">
                                {{ texts['Здравствуйте. Для начала работы с сервисом, укажите, пожалуйста, свою электронную почту'] }}
                            </div>
                            <div>
                                <div class="email-input-group "
                                     v-bind:style="{ backgroundColor: emailColor }">
                                    <div class="input-group  send-email-input"
                                         style="margin-left: 20px; margin-bottom: 1px;">
                                        <input v-model="enteringEmail" type="text" class="email-input"
                                               placeholder="E-mail..."
                                               onkeypress="return emailEnter(event);"
                                               v-bind:style="{ backgroundColor: emailColor }"
                                        />
                                        <div @click="clearEmail" class="input-group-append"
                                             style="cursor: pointer; border: none;">
                                            <span class="input-group-text"
                                                  v-bind:style="{ backgroundColor: emailColor }">

                                                <img class="email-delete" src="icons/close%20(small).svg"/>

                                            </span>
                                        </div>
                                    </div>

                                    <button class="email-btn" @click="sendEmail"> {{ texts['Send'] }}</button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="msg-input-wrapper" id="input-area">


                        <div v-if="userEmail !== ''" class="publisher bt-1 border-light">

                            <input class="publisher-input" type="text"
                                   :placeholder="texts['Введите сообщение...']"
                                   v-model="messageText"
                                   onkeypress="return msgEnter(event);"
                                   id="msg-inp"/>

                            <div class="image-upload">
                                <label for="file-input">
                                    <img src="icons/clip.svg"/>
                                </label>

                                <input id="file-input" style="display: none;" type="file" @change="sendImg"/>
                            </div>


                            <button class="btn btn-secondary dropdown-toggle upper-cmds-btn" type="button"
                                    id="dropdownMenuButton3"
                                    data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">

                            </button>
                            <div class="dropdown-menu upper-drop-down"
                                 aria-labelledby="dropdownMenuButton"
                                 x-placement="bottom-start">


                                <div @click="(e)=>{ sendCmd('/ZGC SHOP'); }"
                                     class="row dropdown-item  btn btn-lg hidden-menu-btn drop-down-btn">

                                    <img class="centered-img" src="icons/shopping-cart%201.svg">
                                    <span class="pull-left menu-cmd">{{ texts['ZGC SHOP'] }}</span>

                                </div>

                                <div @click="(e)=>{ sendCmd('/For Turkmenistan'); }"
                                     class="row dropdown-item btn btn-lg hidden-menu-btn drop-down-btn">

                                    <img class="centered-img" src="icons/turkmenistan%201.svg">
                                    <span class="pull-left menu-cmd">{{ texts['Для Туркменистана'] }}</span>

                                </div>


                                <div @click="(e)=>{ sendCmd('/Trial period'); }"
                                     class="row dropdown-item btn btn-lg hidden-menu-btn drop-down-btn">

                                    <img class="centered-img" src="icons/key%201.svg">
                                    <span class="pull-left menu-cmd">{{ texts['Пробный период'] }}</span>

                                </div>

                                <div @click="(e)=>{ sendCmd('/Contact support'); }"
                                     class="row dropdown-item btn btn-lg hidden-menu-btn drop-down-btn">

                                    <img class="centered-img" src="icons/customer-service%201.svg">
                                    <span class="pull-left menu-cmd">{{ texts['Связаться с поддержкой'] }}</span>

                                </div>
                                <div @click="(e)=>{ sendCmd('/Payment'); }"
                                     class="row dropdown-item btn btn-lg hidden-menu-btn drop-down-btn">

                                    <img class="centered-img" src="icons/Vector.svg">
                                    <span class="pull-left menu-cmd">{{ texts['Оплата'] }}</span>

                                </div>


                                <div @click="(e)=>{ sendCmd('/Learn more'); }"
                                     class="row dropdown-item btn btn-lg hidden-menu-btn drop-down-btn">

                                    <img class="centered-img" src="icons/info-button%201.svg">
                                    <span class="pull-left menu-cmd">{{ texts['Узнать больше'] }}</span>

                                </div>

                                <div @click="(e)=>{ sendCmd('/Partnership'); }"
                                     class="row dropdown-item btn btn-lg hidden-menu-btn drop-down-btn">

                                    <img class="centered-img" src="icons/hand-shake%201.svg">
                                    <span class="pull-left menu-cmd">{{ texts['Сотрудничество'] }}</span>

                                </div>

                            </div>


                            <div @click="(e)=>{ sendMessage(); }" class="publisher-btn text-info" data-abc="true">
                                <img src="icons/send%201.svg"/>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

<script type="text/javascript">

    let dropUpBtn;

    // resize msg container, which resize all chat window
    function resizeWindow() {


    }

    function getEventType(event) {

        console.log(event.type + '\n');
    }

    function initDropUpper() {
        dropUpBtn = document.getElementById('dropdownMenuButton3');
        dropUpBtn.addEventListener('click', getEventType, false);
    }

    function initFromUrl() {
        const urlSearchParams = new URLSearchParams(window.location.search);
        const params = Object.fromEntries(urlSearchParams.entries());
        app.from_url = params.from_url;
    }

    function isMobile() {
        if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|BB|PlayBook|IEMobile|Windows Phone|Kindle|Silk|Opera Mini/i.test(navigator.userAgent)) {
            return true;
        } else {
            return false;
        }
    }

    window.onload = function () {
        console.log("is mobile -" + isMobile());
        console.log(window.innerHeight);

        let msg_container = document.getElementById('chat-content');
        let start_block = document.getElementById('start-block');

        let new_msg_container_style = "height: " + (window.innerHeight - 110) + "px !important;";
        let start_block_style = "margin-top: " + (window.innerHeight - 480) + "px !important;";

        if (!isMobile()) {
            new_msg_container_style = "height: 455px !important;";
        }


        console.log(new_msg_container_style);

        msg_container.style = new_msg_container_style;
        start_block.style = start_block_style;


        let input_area = document.getElementById("input-area");
        let input_area_style = 'position: fixed; z-index: 99999; '

    }


    window.onresize = function () {


        let msg_container = document.getElementById('chat-content');
        let start_block = document.getElementById('start-block');

        let new_msg_container_style = "height: " + (window.innerHeight - 120) + "px !important;";
        let start_block_style = "margin-top: " + (window.innerHeight - 380) + "px !important;";


        if(!isMobile()){
            new_msg_container_style = "height: 455px !important;";
        }

        console.log(new_msg_container_style);
        console.log(start_block_style);

        msg_container.style = new_msg_container_style;
        start_block.style = start_block_style;


    }


    let msg_container = null;


    let bottom_msg;

    let url_prefix = "/botweb";
    let ws_prefix = "botws/";


    function msgEnter(e) {

        if (e.which == 13 || e.keyCode == 13) {
            //code to execute here
            console.log('enter pressed');
            app.sendMessage();
            return false;
        }
    }

    function emailEnter(e) {
        if (e.which == 13 || e.keyCode == 13) {
            //code to execute here
            console.log('enter pressed');
            app.sendEmail();
            return false;
        }
    }

    function goToBottom() {
        let bottom_el = document.getElementById('bottom_msg');
        bottom_el.scrollIntoView();
    }

    async function postData(url = url_prefix + '/chat', data = {}) {
        // Default options are marked with *
        url = url_prefix + url;
        const response = await fetch(url, {
            method: 'POST', // *GET, POST, PUT, DELETE, etc.
            mode: 'cors', // no-cors, *cors, same-origin
            cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
            credentials: 'same-origin', // include, *same-origin, omit
            headers: {
                'Content-Type': 'application/json'
                // 'Content-Type': 'application/x-www-form-urlencoded',
            },
            redirect: 'follow', // manual, *follow, error
            referrerPolicy: 'no-referrer', // no-referrer, *client
            body: JSON.stringify(data) // body data type must match "Content-Type" header
        });
        return await response.json(); // parses JSON response into native JavaScript objects
    }

    async function updateDialogCache() {
        console.log("update cache");
        localStorage.setItem("dialog", JSON.stringify(cachedDialog));
    }

    function loadCachedDialog() {
        console.log("load cache dialog");
        let msg_arr = JSON.parse(localStorage.getItem("dialog"));

        for (let i = 0; i < msg_arr.length; i++) {
            app.messages.push(msg_arr[i]);
        }
    }

    const cachedDialog = [];

    function initWS() {

        let socket = new WebSocket("wss://zgc.su/botws");

        socket.onopen = function (e) {
            console.log("[open] Соединение установлено");
            console.log("Отправляем данные на сервер+ email - " + this.userEmail);

            let data = JSON.stringify({'email': app.userEmail, 'type': 'init'});

            console.log(data + ' - init data');

            socket.send(data);
        };

        socket.onmessage = function (event) {
            console.log(`[message] Данные получены с сервера: ${event.data}`);

            let data = JSON.parse(event.data);

            if (data.type !== 'ping') {
                app.messages.push(data);

                cachedDialog.push({from: 'bot', message: data.message});

                console.log(data);
                setTimeout(goToBottom, 200);
                setTimeout(goToBottom, 500);
                app.playRecieveAudio();

                updateDialogCache();
            }

        };

        socket.onclose = function (event) {
            if (event.wasClean) {
                console.log(`[close] Соединение закрыто чисто, код=${event.code} причина=${event.reason}`);
            } else {
                // например, сервер убил процесс или сеть недоступна
                // обычно в этом случае event.code 1006
                console.log('[close] Соединение прервано');
            }
        };

        socket.onerror = function (error) {
            alert(`[error] ${error.message}`);
            console.log('ws error occured');
            console.log(error);
        };

        return socket;

    }

    let site_lang = "ru";

    var app = new Vue({
        el: '#v-app',
        data: {
            messageText: '',
            messages: [
                {from: 'bot_cmd', message: "продолжить на русском", cmd: "/ru"},
                {from: 'bot_cmd', message: "continue in english", cmd: "/en"},
                {from: 'bot_cmd', message: "继续中文", cmd: "/ch"}
            ],

            initialMessages: [
                {from: 'bot_cmd', message: "Оплата", cmd: "/Payment"},
                {from: 'bot_cmd', message: "Пробный период", cmd: "/Trial period"},
                {from: 'bot_cmd', message: "Узнать больше", cmd: "/Learn more"},
                {from: 'bot_cmd', message: "Для Туркменистана", cmd: "/For Turkmenistan"},
                {from: 'bot_cmd', message: "Сотрудничество", cmd: "/Partnership"},
                {from: 'bot_cmd', message: "ZGC SHOP", cmd: "/ZGC SHOP"},
                {from: 'bot_cmd', message: "Связаться с поддержкой", cmd: "/Contact support"},
                {from: 'bot_cmd', message: "Продолжить на русском", cmd: "/ru"},
                {from: 'bot_cmd', message: "Continue in english", cmd: "/en"},
                {from: 'bot_cmd', message: "继续中文", cmd: "/ch"},

            ],

            languageMessages: [
                {from: 'bot_cmd', message: "продолжить на русском", cmd: "/ru"},
                {from: 'bot_cmd', message: "continue in english", cmd: "/en"},
                {from: 'bot_cmd', message: "继续中文", cmd: "/ch"}
            ],


            cmds: {},

            ru_cmds: {},

            en_cmds: {},

            ch_cmds: {},

            texts: {
                "Сотрудничество": "Сотрудничество",
                'Узнать больше': 'Узнать больше',
                'Оплата': 'Оплата',
                'Связаться с поддержкой': 'Связаться с поддержкой',
                'Пробный период': 'Пробный период',
                'Для Туркменистана': 'Для Туркменистана',
                'ZGC SHOP': 'ZGC SHOP',
                'Send': 'Send',
                'Здравствуйте. Для начала работы с сервисом, укажите, пожалуйста, свою электронную почту': 'Здравствуйте. Для начала работы с сервисом, укажите, пожалуйста, свою электронную почту',
                'В левом верхнем углу и в правом нижнем углу есть меню со списком команд.': 'В левом верхнем углу и в правом нижнем углу есть меню со списком команд.',
                'Support': 'поддержка',
                'Введите сообщение...': 'Введите сообщение...'

            },

            ru_texts: {
                "Сотрудничество": "Сотрудничество",
                'Узнать больше': 'Узнать больше',
                'Оплата': 'Оплата',
                'Связаться с поддержкой': 'Связаться с поддержкой',
                'Пробный период': 'Пробный период',
                'Для Туркменистана': 'Для Туркменистана',
                'ZGC SHOP': 'ZGC SHOP',
                'Send': 'Send',
                'Здравствуйте. Для начала работы с сервисом, укажите, пожалуйста, свою электронную почту': 'Здравствуйте. Для начала работы с сервисом, укажите, пожалуйста, свою электронную почту',
                'В левом верхнем углу и в правом нижнем углу есть меню со списком команд.': 'В левом верхнем углу и в правом нижнем углу есть меню со списком команд.',
                'Support': 'поддержка',
                'Поддержка отвечает с 17:00-22:00 в рабочие дни.Вы можете написать свой вопрос, а если не дождетесь ответа мы отправим его на почту.Вы также можете задать вопрос в вк или телеграм.': 'Поддержка отвечает с 17:00-22:00 в рабочие дни.Вы можете написать свой вопрос, а если не дождетесь ответа мы отправим его на почту.Вы также можете задать вопрос в вк или телеграм.',
                'Введите сообщение...': 'Введите сообщение...',

            },

            en_texts: {
                "Сотрудничество": "Partnership",
                'Узнать больше': 'Learn more',
                'Оплата': 'Payment',
                'Связаться с поддержкой': 'Connect to support',
                'Пробный период': 'Trial period',
                'Для Туркменистана': 'For Turkmenistan',
                'ZGC SHOP': 'ZGC SHOP',
                'Send': 'Send',
                'Здравствуйте. Для начала работы с сервисом, укажите, пожалуйста, свою электронную почту': 'To start working with the service, please specify your email address',
                'В левом верхнем углу и в правом нижнем углу есть меню со списком команд.': 'In the upper-left corner and in the lower-right corner there is a menu with a list of commands.',
                'Support': 'Support',
                'Поддержка отвечает с 17:00-22:00 в рабочие дни.Вы можете написать свой вопрос, а если не дождетесь ответа мы отправим его на почту.Вы также можете задать вопрос в вк или телеграм.': 'Support responds from 17: 00-22: 00 on working days.You can write your question, and if you do not wait for an answer, we will send it to the mail.You can also ask a question in the VK or by telegram.',
                'Введите сообщение...': 'Enter a message...'
            },

            // chineese
            ch_texts: {
                "Сотрудничество": "伙伴关系",
                'Узнать больше': '了解更多',
                'Оплата': '付款',
                'Связаться с поддержкой': '联系支持',
                'Пробный период': '试用期',
                'Для Туркменистана': '对于土库曼斯坦',
                'ZGC SHOP': 'ZGC SHOP',
                'Send': '确定',
                'Здравствуйте. Для начала работы с сервисом, укажите, пожалуйста, свою электронную почту': '亲爱的顾客你好，请提供邮箱',
                'В левом верхнем углу и в правом нижнем углу есть меню со списком команд.': '在左上角和右下角有一个带有命令列表的菜单。',
                'Support': '支持',
                'Поддержка отвечает с 17:00-22:00 в рабочие дни.Вы можете написать свой вопрос, а если не дождетесь ответа мы отправим его на почту.Вы также можете задать вопрос в вк или телеграм.': '亲亲，欢迎光临 ZGC VPN。 请注意地读。我们从 17:00 到 22:00 工作，如果您不等待答复，我们将通过邮件发送。如需人工客服，请在17:00 - 22:00期间来访，到时发送问题即可。如果您是客户并希望续订服务，请查看您的电子邮件。 我们已向您发送付款二维码。 付款后请截图发给我们。',
                'Введите сообщение...': '输入消息'
            },


            styleObject: {
                overflow: 'hidden'
            },

            emailValid: true,

            userEmail: '',

            enteringEmail: '',

            commands: [],

            // like ds
            current_cmds: {},

            client_state: '',
            pay_type: 'rub',

            from_url: '',

            first_msg_was: false,

            conn_to_sup_cmds: ["/market", "/Contact support", "/Payment", "/chinese"],
            through_msgs: ["/market"],

            ws: null,

            burger_check: false,

            startMessage: 'Здравствуйте. Для начала работы с сервисом, укажите, пожалуйста, свою электронную почту',


            dialogOpenedMsg1: 'Сообщение отправлено в поддержку! Если вы не можете дождаться ответа, мы пришлем вам E-mail или можете написать в VK или telegram. Мы работаем с 17:00–22:00 по будням.',
            dialogOpenedMsg2: 'Для связи в VK пришлите вашу почту в директ',
            dialogOpenedMsg3: 'https://vk.com/ZhongGuoCu',
            dialogOpenedMsg4: 'Для связи в Telegram пришлите вашу почту и используйте меню:',
            dialogOpenedMsg5: 'https://t.me/ZGC_VPN_BOT',

            dialogOpenedMsgs_ru: {
                dialogOpenedMsg1: 'Сообщение отправлено в поддержку! Если вы не можете дождаться ответа, мы пришлем вам E-mail или можете написать в VK или telegram. Мы работаем с 17:00–22:00 по будням.',
                dialogOpenedMsg2: 'Для связи в VK пришлите вашу почту в директ',
                dialogOpenedMsg3: 'https://vk.com/ZhongGuoCu',
                dialogOpenedMsg4: 'Для связи в Telegram пришлите вашу почту и используйте меню:',
                dialogOpenedMsg5: 'https://t.me/ZGC_VPN_BOT',
            },

            dialogOpenedMsgs_en: {
                dialogOpenedMsg1: 'A message has been sent to support! If you cant wait for a response, we will send you an E-mail or you can write to VK or telegram. We work from 17: 00-22: 00 on weekdays.',
                dialogOpenedMsg2: 'To contact VK, send your mail to yandex. direct',
                dialogOpenedMsg3: 'https://vk.com/ZhongGuoCu',
                dialogOpenedMsg4: 'To contact Telegram, send your email and use the menu:',
                dialogOpenedMsg5: 'https://t.me/ZGC_VPN_BOT',
            },

            dialogOpenedMsgs_ch: {
                dialogOpenedMsg1: '已发送消息支持！ 如果您无法等待回复，我们会向您发送电子邮件，或者您可以写信给VK或telegram。 我们工作日的工作时间为17：00-22：00。',
                dialogOpenedMsg2: '要联系VK，请将邮件发送到yandex。 直接',
                dialogOpenedMsg3: 'https://vk.com/ZhongGuoCu',
                dialogOpenedMsg4: '要联系电报，发送电子邮件并使用菜单',
                dialogOpenedMsg5: 'https://t.me/ZGC_VPN_BOT',
            },

            first_ws_msg_was: false,

        },

        created: () => {
            msg_container = document.querySelector('#chat-content');

            bottom_msg = document.getElementById('bottom_msg');

            console.log(msg_container);
            console.log('created');

            const getCmds = function () {
                fetch(url_prefix + '/commands')
                    .then((response) => {
                        return response.json();
                    })
                    .then((data) => {

                        app.commands = data['data']
                    });
            }

            setTimeout(initFromUrl, 2000);
            setTimeout(initFromUrl, 6000);


            let cached_email = localStorage.getItem("email");

            if (cached_email !== null) {
                setTimeout(function () {
                    app.enteringEmail = cached_email;
                }, 400);
                setTimeout(function () {
                    app.enteringEmail = cached_email;
                }, 600);
            }


        },

        computed: {

            emailColor() {
                if (this.emailValid) {
                    return '#d1d1d1';
                } else {
                    return '#FFBFBF';
                }
            }

        },

        methods: {


            changeDialogMsgs(lang) {

                if (lang === "/ru") {
                    this.dialogOpenedMsg1 = this.dialogOpenedMsgs_ru.dialogOpenedMsg1;
                    this.dialogOpenedMsg2 = this.dialogOpenedMsgs_ru.dialogOpenedMsg2;
                    this.dialogOpenedMsg3 = this.dialogOpenedMsgs_ru.dialogOpenedMsg3;
                    this.dialogOpenedMsg4 = this.dialogOpenedMsgs_ru.dialogOpenedMsg4;
                    this.dialogOpenedMsg5 = this.dialogOpenedMsgs_ru.dialogOpenedMsg5;
                } else if (lang === "/en") {
                    this.dialogOpenedMsg1 = this.dialogOpenedMsgs_en.dialogOpenedMsg1;
                    this.dialogOpenedMsg2 = this.dialogOpenedMsgs_en.dialogOpenedMsg2;
                    this.dialogOpenedMsg3 = this.dialogOpenedMsgs_en.dialogOpenedMsg3;
                    this.dialogOpenedMsg4 = this.dialogOpenedMsgs_en.dialogOpenedMsg4;
                    this.dialogOpenedMsg5 = this.dialogOpenedMsgs_en.dialogOpenedMsg5;
                } else if (lang === "/ch") {
                    this.dialogOpenedMsg1 = this.dialogOpenedMsgs_ch.dialogOpenedMsg1;
                    this.dialogOpenedMsg2 = this.dialogOpenedMsgs_ch.dialogOpenedMsg2;
                    this.dialogOpenedMsg3 = this.dialogOpenedMsgs_ch.dialogOpenedMsg3;
                    this.dialogOpenedMsg4 = this.dialogOpenedMsgs_ch.dialogOpenedMsg4;
                    this.dialogOpenedMsg5 = this.dialogOpenedMsgs_ch.dialogOpenedMsg5;
                }

            },

            playSendAudio() {
                let audio = new Audio('sounds/sound1.mp3');
                audio.play();
            },

            playRecieveAudio() {
                let audio = new Audio('sounds/sound2.mp3');
                audio.play();
            },

            firstWsMsgAction() {
                this.messages.push({from: 'bot', message: this.dialogOpenedMsg1});

                this.messages.push({
                    from: 'bot_link',
                    message: this.dialogOpenedMsg2,
                    cmd: this.dialogOpenedMsg3
                });

                this.messages.push({
                    from: 'bot_link',
                    message: this.dialogOpenedMsg4,
                    cmd: this.dialogOpenedMsg5
                });

                this.first_ws_msg_was = true;
            },

            checkEmailSet() {
                if (this.userEmail === '') {
                    alert(this.startMessage);
                }
            },

            isMobile() {
                if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|BB|PlayBook|IEMobile|Windows Phone|Kindle|Silk|Opera Mini/i.test(navigator.userAgent)) {
                    return true;
                } else {
                    return false;
                }
            },

            sendImg() {


                let input = document.querySelector('#file-input');

                console.log(input.files[0]);

                let data = new FormData();
                data.append('file', input.files[0]);
                data.append('user', app.userEmail);
                data.append('client_state', this.client_state);
                data.append('pay_type', this.pay_type);

                console.log(data);

                fetch(url_prefix + '/photo', {
                    method: 'POST',
                    body: data
                }).then(response => response.json())
                    .then(data => {
                        console.log(data);
                        console.log('omnomnomnom');
                        if (data.status === "ok") {

                            console.log(data);
                            app.messages.push({from: 'user_img', url: url_prefix + data.url});
                            goToBottom();
                        }
                    });

                app.messages.push({from: 'bot', message: 'loading, please wait...'});
                goToBottom();
                setTimeout(goToBottom, 1000);
                setTimeout(goToBottom, 2500);

            },

            connectToSupport() {
                this.ws = initWS();
            },

            sendMessage() {


                if (this.messageText.trim() === '') {
                    return;
                }


                this.playSendAudio();

                if (this.ws !== null && !this.messageText.startsWith('/')) {
                    this.sendWsMsg(this.messageText);
                    this.messageText = '';

                    if (this.conn_to_sup_cmds.includes(this.messageText)) {
                        this.sendCmd(this.messageText);
                    }
                    return;
                }

                this.sendCmd(this.messageText);

                setTimeout(200, goToBottom());
                setTimeout(400, goToBottom());
                setTimeout(800, goToBottom());


            },

            sendEmail() {
                let validation = this.validateEmail(this.enteringEmail);

                if (validation === true) {
                    this.userEmail = this.enteringEmail;
                    this.styleObject = null;
                    this.messages = this.initialMessages;
                    setTimeout(initDropUpper, 1000);

                    postData("/email", {email: this.enteringEmail})
                        .then((data) => {

                        });

                    localStorage.setItem("email", this.userEmail);
                    //loadCachedDialog();

                    if (site_lang === 'ch') {
                        this.sendCmd('/chinese');
                    }

                    if (!isMobile()) {
                        let new_msg_container_style = "height: 405px !important;";

                        let msg_container = document.getElementById('chat-content');
                        msg_container.style = new_msg_container_style;
                    }

                } else {
                    this.emailValid = false;
                }


            },

            validateEmail(mail) {
                if (/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/.test(mail)) {
                    return (true)
                }
                return (false)
            },

            clearEmail() {
                console.log('clear');
                this.enteringEmail = '';
            },

            sendCmd(msg) {


                const processMessage = (bot_message) => {
                    let message = {from: 'bot', 'message': bot_message.answer};
                    let cmd_messages = bot_message.commands;
                    this.messages.push(message);
                    let regex = new RegExp('^http.://.');

                    for (let i = 0; i < cmd_messages.length; i++) {
                        if (cmd_messages[i][1].match(regex) != null) {
                            this.messages.push({
                                from: 'bot_link',
                                message: cmd_messages[i][0],
                                cmd: cmd_messages[i][1]
                            });
                        }

                        let hash = cmd_messages[i][1][0];
                        console.log(hash);

                        if (hash === '/') {
                            this.messages.push({from: 'bot_cmd', message: cmd_messages[i][0], cmd: cmd_messages[i][1]});
                        }
                    }

                    goToBottom();
                    setTimeout(goToBottom, 250);
                    setTimeout(goToBottom, 600);
                }

                this.playSendAudio();

                if (msg === '/Payment') {
                    this.client_state = 'pay';
                } else if (msg === '/yuan') {
                    this.client_state = 'pay';
                    this.pay_type = 'yuan';
                } else if (msg === '/chinese') {
                    this.client_state = 'pay';
                    this.pay_type = 'yuan';
                } else if (msg === '/rub') {
                    this.client_state = 'pay';
                    this.pay_type = 'rub';
                } else {
                    this.client_state = '';
                }

                if (msg === "/ru") {
                    this.texts = this.ru_texts;
                    site_lang = "ru";
                    this.changeDialogMsgs(msg);
                    return;
                } else if (msg === "/en") {
                    this.texts = this.en_texts;
                    site_lang = "en";
                    this.changeDialogMsgs(msg);
                    return;
                } else if (msg === "/ch") {
                    this.texts = this.ch_texts;
                    site_lang = "ch";
                    this.changeDialogMsgs(msg);

                    if (this.userEmail !== "") {
                        setTimeout(this.sendCmd, 200, "/chinese");
                    }

                    return;
                }


                if (msg.trim() === '') {
                    console.log('error - command is empty')
                    return;
                }

                let userMessage = {from: 'user', message: msg}

                this.messages.push(userMessage);


                postData('/chat', {message: msg, language: site_lang})
                    .then((data) => {
                        let messages = data.messages;
                        for (let i = 0; i < messages.length; i++) {
                            processMessage(messages[i]);
                        }

                        if (this.conn_to_sup_cmds.includes(msg)) {

                            let now = new Date();
                            let utc_timestamp = Date.UTC(now.getUTCFullYear(), now.getUTCMonth(), now.getUTCDate(),
                                now.getUTCHours(), now.getUTCMinutes(), now.getUTCSeconds(), now.getUTCMilliseconds());

                            console.log(now);
                            console.log(now.getUTCHours());
                            console.log('-----------');

                            // 17 < time < 22
                            // разница меж китаем и UTC - 8 часов
                            if ((9 < now.getUTCHours()) && (now.getUTCHours() < 14)) {
                                let non_working = this.texts['Поддержка отвечает с 17:00-22:00 в рабочие дни.Вы можете написать свой вопрос, а если не дождетесь ответа мы отправим его на почту.Вы также можете задать вопрос в вк или телеграм.'];
                                app.messages.push({from: 'bot', message: non_working});

                                let vk_link = "https://Vk.com/Zhongguocu";
                                let tg_link = "https://T.me/ZGC_VPN_BOT";

                                app.messages.push({from: 'bot_link', message: '', cmd: vk_link});
                                app.messages.push({from: 'bot_link', message: '', cmd: tg_link});

                            }


                            this.connectToSupport();
                        }

                        goToBottom();
                    });


                this.messageText = '';
                this.burger_check = false;
            },

            sendWsMsg(msg_text) {
                let msg = {message: msg_text, email: this.userEmail};
                postData('/support/message', msg)
                    .then((data) => {

                    });
                this.messages.push({from: 'user', message: this.messageText});
                cachedDialog.push({from: 'user', message: this.messageText});
                updateDialogCache();
                setTimeout(goToBottom, 500);

                if (!this.first_ws_msg_was) {
                    this.firstWsMsgAction();
                }
            }

        }
    })


</script>


</html>